# Data and Weights (Do not push to GitHub)
data/
vision_model/weights/
vision_model/models/

# Hardware Credentials
hardware_bridge/settings.toml

# Python Cache
__pycache__/
*.pyc
.env
# pixi environments
.pixi/*
!.pixi/config.toml
.vscode/*
